<h3>Réponses :</h3>
<section>
    <div *ngFor="let answer of answers">
        <app-answer [answer]="answer"></app-answer>
    </div>
</section>
<br>
<form action="" (ngSubmit)="createAnswer()">
    <label for="">
        Votre réponse :
        <br>
        <textarea type="text" [(ngModel)]="content" name="content">
        </textarea>
    </label>
    <br>
    <button>Envoyer</button>
</form>
<button [routerLink]="['']">Retour</button>
