<div *ngIf="question" class="question">
    <h1>{{question.title}}</h1>
    <p>{{question.content}}</p>
    <p>{{question.datetime}}</p>
    <button [routerLink]="['create-answer',question.id]">Voir les réponses</button>
</div>