<!-- Ne pas oublier d'importer FormsModule dans app.module.ts -->
<form action="" (ngSubmit)="createQuestion()">
    <label for="">
        Indiquez le titre de votre question
        <br>
        <textarea type="text" [(ngModel)]="title" name="title">
        </textarea>
    </label>
    <br>
    <label for="">
        Détaillez votre demande
        <br>
        <textarea type="text" [(ngModel)]="content" name="content">
        </textarea>
    </label>
    <br>
    <button>Envoyer</button>
</form>
<button [routerLink]="['']">Annuler</button>
