<div class="login">
<h1>Connexion</h1>
<form (ngSubmit)="onSubmitLoggin()" ngNativeValidate>
    <input name="login" required [(ngModel)]="username" placeholder="Login">
    <br>
    <input name="password" type="password" required [(ngModel)]="password" placeholder="Mot de passe">
    <br>
    <button>Valider</button>
</form>
<button [routerLink]="['']">Retour</button>
</div>