.header {
    display: flex;
    align-items: center;
    padding: 1em;
    position: sticky;
    top: 0em;
    background: #970000;
    box-shadow: 0 0 16px rgba(black, 0.08);
    border-radius: 8px;
}

.search {
    background: url(http://2.bp.blogspot.com/-xpzxYc77ack/VDpdOE5tzMI/AAAAAAAAAeQ/TyXhIfEIUy4/s1600/search-dark.png) no-repeat 5px 5px #f2f2f2;
    border: 2px solid #f2f2f2;
    font: bold 12px Arial, Helvetica, Sans-serif;
    color: #6A6F75;
    width: 160px;
    padding: 5px 70px 5px 30px;
    border-radius: 5px;
    margin-left: 33%;
}

.loginButton{
    margin-left: auto;
    position: relative;
}

a{
    color: white;
}