<section class="header">
    <a [routerLink]="['']">Accueil</a>
    <input id="searchbar" type="text" name="search" placeholder="Rechercher une question..." class="search">
    <a [routerLink]="['login']" class="loginButton">Se connecter</a>
</section>