<div>
    <h1>Zenistack</h1>
    <button [routerLink]="['create-question']">Poster une question</button>
</div>
<br>
<section>
    <div *ngFor="let question of questions">
        <app-question [question]="question"></app-question>
    </div>
</section>